.address-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 23%) 25%;
    column-gap: 0.75rem;
}

.single-input-wrapper {
    width: 100%;
    margin-bottom: 0.75rem;
    position: relative;
}

.terms-of-service-checkbox {
    font-family: "Montserrat", sans-serif;
}

.label {
    margin-left: 0.6rem;
}

.terms-of-service {
    text-decoration: underline;
    color: var(--primary);
}

.bottom {
    margin-top: 2.4375rem;
}

.error {
    color: var(--red);
    font-size: 1.25em;
}
