.redirects {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
}

.input-group {
    margin-bottom: 2.5rem;
}

.labels {
    text-transform: uppercase;
    font-size: 0.875em;
    color: #757575;
    position: relative;
    width: fit-content;
    font-family: "Montserrat", sans-serif;
}

.labels::after {
    content: "*";
    color: var(--red);
    position: absolute;
    top: 0;
    right: -0.5rem;
}
