ul {
    margin: 0;
    padding: 0 !important;
}

.options {
    position: relative;
}

.btn-options {
    background-color: transparent;
    border: none;
}

.dropdown {
    position: absolute;
    bottom: 0;
    right: 1.75rem;
    list-style: none;
    width: 9rem;
    background-color: var(--sub-primary);
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 0.75em;
    font-weight: 500;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    padding: 0.25rem 0.75rem 0.25rem 0.5rem;
}

.row:last-child {
    padding-bottom: 0.25rem;
    color: var(--red);
}

.row:hover {
    background-color: #eee;
}

.row:first-child:hover {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.row:last-child:hover {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.icon,
.icon-last {
    width: 1.5rem;
    margin-right: 0.1rem;
    justify-self: center;
    color: var(--primary);
}

.icon-last {
    color: var(--red);
}

.headings {
    text-align: right;
    align-self: center;
}
